body{
  font-family:'Helvetica Neue', Helvetica;
  padding:1em;
}
ul{
  margin:0;
  font-size:.8em;
}
ul li:first-child{
  margin-top:.5em;
}
ul li:last-child{
  margin-bottom:.5em;
}
.target{
  background: #FFFBE2;
  border-top:none;
}
h1{
  margin-bottom:0;
  padding-bottom:.5em;
  border-bottom:1px solid #ccc;
}
.day{
  margin-bottom:1em;
  padding:1em;
}
.day:first-of-type{
  padding-left:0;
}
.day:last-of-type{
  padding-right:0;
}
.day-header {
  color:#ccc;
  font-weight:normal;
}
h1 a,
.day-header a {
  color: inherit;
  text-decoration:none;
}
.day div {
  border-bottom:1px solid #ccc;
  padding-bottom:1em;
}
.day div:last-of-type{
  border:none;
}
.day h2{
  margin-bottom:0;
}
.day time{
  font-size:.8em;
}
*{
  box-sizing:border-box;
}
h2{
  font-size:1em;
}
.day{
  width: 20%;
  float:left;
}
.week:after{
  content:'';
  display:block;
  clear:both;
}

@media (max-width:40em){
  body {
    padding:1em;
  }
  .day{
    width:100%;
    margin-bottom:0;
    border-bottom: 1px solid #ccc;
    padding: 1em 0;
  }
  h1{
    padding:0;
    margin:0;
    margin-top:1em;
  }
  .day div{
    border: none;
    padding-bottom:0;
  }
  .target{
    border-left:none;
    padding:.5em;
    border-right:none;
  }
}
